In [1]:
import pandas as pd
import requests
import pickle
import config
import uuid
import sqlquerycmd as qcmd
from sqlcon import dbcon
import sqlcon as con
from sqlalchemy import create_engine

In [2]:
fct2_con = dbcon(config.fct2_user, config.fct2_password, config.fct2_host, config.fct2_dbname, config.driver)
con = create_engine(f'mssql+pyodbc://{config.fct2_user}:{config.fct2_password}@{config.fct2_host}/{config.fct2_dbname}?driver={config.driver}')
print(fct2_con)
print(con)
fct2_df = pd.read_sql(qcmd.select_top(100, "UUTResults"), con)
fct2_df["TestID"] = [uuid.uuid4() for _ in range(len(fct2_df.index))]
fct2_df.head()

Engine(mssql+pyodbc://sa:***@025A123FCT2/A123_025A123FCT2?driver=ODBC+Driver+17+for+SQL+Server)
Engine(mssql+pyodbc://sa:***@025A123FCT2/A123_025A123FCT2?driver=ODBC+Driver+17+for+SQL+Server)

,UUTResultsId,Station,Operator,FamilyName,FixtureId,FixtureSerialNumber,ProjectRevision,ProjectReleased,VariantCode,VariantReleased,...,DateTime,Date,Time,StatusId,FailureCode,FailureDescription,ErrorCode,ErrorDescription,ExecutionTime,TestID
0,1,025A123FCT2,KETL_Debug_A,BMS 12V,3000.110.1028.1,0001,27,False,461023280103,False,...,2020-11-02 11:41:57,2020-11-02,11:41:57,2,240,240: T.2 Serial Number Check\n700: CheckSerial...,0,,10.519401,d4ab9cc0-4109-48c0-89b5-0227f79b2c5b
1,2,025A123FCT2,KETL_Debug_A,BMS 12V,3000.110.1028.1,0001,27,False,461023280103,False,...,2020-11-02 11:42:43,2020-11-02,11:42:43,2,240,240: T.2 Serial Number Check\n700: CheckSerial...,0,,8.996960,702dbfda-76b0-47fe-b6c8-72357ae738a5
2,3,025A123FCT2,KETL_Debug_A,BMS 12V,3000.110.1028.1,0001,27,False,461023280103,False,...,2020-11-02 11:42:08,2020-11-02,11:42:08,1,0,,0,,280.092352,4bb2a219-810d-4598-97f8-1933f5286884
3,4,025A123FCT2,KETL_Debug_A,BMS 12V,3000.110.1028.1,0001,27,False,461023280103,False,...,2020-11-02 11:47:09,2020-11-02,11:47:09,2,240,240: T.2 Serial Number Check\n700: CheckSerial...,0,,8.941332,ef80fffc-51e1-406c-8860-9518e359b165
4,5,025A123FCT2,KETL_Debug_A,BMS 12V,3000.110.1028.1,0001,27,False,461023280103,False,...,2020-11-02 11:46:59,2020-11-02,11:46:59,2,420,420: T.20 Current Verification\n5770: Verifica...,0,,272.964681,9b9cc37c-f1d8-4880-9310-fcb002cf618c

In [3]:
fct2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   UUTResultsId         8 non-null      int64
 1   Station              8 non-null      object
 2   Operator             8 non-null      object
 3   FamilyName           8 non-null      object
 4   FixtureId            8 non-null      object
 5   FixtureSerialNumber  8 non-null      object
 6   ProjectRevision      8 non-null      object
 7   ProjectReleased      8 non-null      bool
 8   VariantCode          8 non-null      object
 9   VariantReleased      8 non-null      bool
 10  EC                   8 non-null      object
 11  Socket               8 non-null      int64
 12  SerialNumber         8 non-null      object
 13  DateTime             8 non-null      datetime64[ns]
 14  Date                 8 non-null      datetime64[ns]
 15  Time                 8 non-null      object
 16  StatusId             8 non-null      int64
 17  FailureCode          8 non-null      int64
 18  FailureDescription   8 non-null      object
 19  ErrorCode            8 non-null      int64
 20  ErrorDescription     8 non-null      object
 21  ExecutionTime        8 non-null      float64
 22  TestID               8 non-null      object
dtypes: bool(2), datetime64[ns](2), float64(1), int64(5), object(13)
memory usage: 1.5+ KB

In [4]:
cols = list(fct2_df.columns.values)
print(cols)

['UUTResultsId', 'Station', 'Operator', 'FamilyName', 'FixtureId', 'FixtureSerialNumber', 'ProjectRevision', 'ProjectReleased', 'VariantCode', 'VariantReleased', 'EC', 'Socket', 'SerialNumber', 'DateTime', 'Date', 'Time', 'StatusId', 'FailureCode', 'FailureDescription', 'ErrorCode', 'ErrorDescription', 'ExecutionTime', 'TestID']

In [5]:
uut_results_df = fct2_df[['TestID', 'Station', 'Operator', 'FamilyName', 'FixtureId', 'FixtureSerialNumber', 'ProjectRevision', 'ProjectReleased', 'VariantCode', 'VariantReleased', 'EC', 'Socket', 'DateTime', 'StatusId', 'FailureCode', 'FailureDescription', 'ErrorCode', 'ErrorDescription', 'ExecutionTime']]
uut_results_df

,TestID,Station,Operator,FamilyName,FixtureId,FixtureSerialNumber,ProjectRevision,ProjectReleased,VariantCode,VariantReleased,EC,Socket,DateTime,StatusId,FailureCode,FailureDescription,ErrorCode,ErrorDescription,ExecutionTime
0,d4ab9cc0-4109-48c0-89b5-0227f79b2c5b,025A123FCT2,KETL_Debug_A,BMS 12V,3000.110.1028.1,0001,27,False,461023280103,False,,1,2020-11-02 11:41:57,2,240,240: T.2 Serial Number Check\n700: CheckSerial...,0,,10.519401
1,702dbfda-76b0-47fe-b6c8-72357ae738a5,025A123FCT2,KETL_Debug_A,BMS 12V,3000.110.1028.1,0001,27,False,461023280103,False,,1,2020-11-02 11:42:43,2,240,240: T.2 Serial Number Check\n700: CheckSerial...,0,,8.996960
2,4bb2a219-810d-4598-97f8-1933f5286884,025A123FCT2,KETL_Debug_A,BMS 12V,3000.110.1028.1,0001,27,False,461023280103,False,,2,2020-11-02 11:42:08,1,0,,0,,280.092352
3,ef80fffc-51e1-406c-8860-9518e359b165,025A123FCT2,KETL_Debug_A,BMS 12V,3000.110.1028.1,0001,27,False,461023280103,False,,2,2020-11-02 11:47:09,2,240,240: T.2 Serial Number Check\n700: CheckSerial...,0,,8.941332
4,9b9cc37c-f1d8-4880-9310-fcb002cf618c,025A123FCT2,KETL_Debug_A,BMS 12V,3000.110.1028.1,0001,27,False,461023280103,False,,1,2020-11-02 11:46:59,2,420,420: T.20 Current Verification\n5770: Verifica...,0,,272.964681
5,fb10afc6-e406-4031-ac8c-bc150b6857d3,025A123FCT2,KETL_Debug_A,BMS 12V,3000.110.1028.1,0001,27,False,461023280103,False,,1,2020-11-02 11:51:55,2,420,420: T.20 Current Verification\n5770: Verifica...,0,,272.386565
6,412cf302-5025-45c2-9453-768adce73f7e,025A123FCT2,KETL_Technician,BMS 48V,3000.110.1023.1,0006,16,False,4610484J0201,False,,1,2020-11-09 09:17:31,1,0,,0,,255.875801
7,d0e79d2b-ccc0-45b8-a98a-e4e63ce3c217,025A123FCT2,KETL_Technician,BMS 48V,3000.110.1023.1,0006,16,False,4610484J0201,False,,2,2020-11-09 09:22:09,1,0,,0,,253.891851

In [6]:
dbsync_con = create_engine(f'mssql+pyodbc://{config.sync_user}:{config.sync_password}@{config.sync_host}/{config.sync_dbname2}?driver={config.driver}')

In [7]:
uut_results_df.to_sql('UUTresults', dbsync_con, if_exists='append', index=False)

In [8]:
test_detail_df = fct2_df[['TestID', 'UUTResultsId', 'SerialNumber', 'DateTime']]
test_detail_df

,TestID,UUTResultsId,SerialNumber,DateTime
0,d4ab9cc0-4109-48c0-89b5-0227f79b2c5b,1,K01202801NT461023280103,2020-11-02 11:41:57
1,702dbfda-76b0-47fe-b6c8-72357ae738a5,2,K01202801NT461023280103,2020-11-02 11:42:43
2,4bb2a219-810d-4598-97f8-1933f5286884,3,K01202801NK461023280103,2020-11-02 11:42:08
3,ef80fffc-51e1-406c-8860-9518e359b165,4,K01202801NT461023280103,2020-11-02 11:47:09
4,9b9cc37c-f1d8-4880-9310-fcb002cf618c,5,K01202801NK461023280103,2020-11-02 11:46:59
5,fb10afc6-e406-4031-ac8c-bc150b6857d3,6,K01202801NK461023280103,2020-11-02 11:51:55
6,412cf302-5025-45c2-9453-768adce73f7e,7,K012034018V4610484J0201,2020-11-09 09:17:31
7,d0e79d2b-ccc0-45b8-a98a-e4e63ce3c217,8,K012034018V4610484J0201,2020-11-09 09:22:09

In [9]:
test_detail_df.to_sql('TestDetail', dbsync_con, if_exists='append', index=False)

In [87]:

lasttime = pd.read_sql(qcmd.get_last_synctime(), dbsync_con)
lastsync = lasttime.iloc[0,0].strftime("%Y-%m-%d %H-%M-%S")
lastsync2 = lastsync
lastsync2

'2020-11-09 09-22-09'

In [88]:
fctx_df = pd.read_sql(qcmd.select_from_synctime("UUTResults", lastsync2), con)
fctx_df.head()

ProgrammingError: (pyodbc.ProgrammingError) ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near '09'. (102) (SQLExecDirectW)")
[SQL: select * from UUTResults where Datetime >= 2020-11-09 09-22-09]
(Background on this error at: http://sqlalche.me/e/13/f405)