In [1]:
import pandas as pd
import requests
import pickle
import config
import uuid
import sqlquerycmd as qcmd
from sqlcon import dbcon
import sqlcon as con
from sqlalchemy import create_engine

In [2]:
fct3_con = dbcon(config.fct3_user, config.fct3_password, config.fct3_host, config.fct3_dbname, config.driver)
con = create_engine(f'mssql+pyodbc://{config.fct3_user}:{config.fct3_password}@{config.fct3_host}/{config.fct3_dbname}?driver={config.driver}')
print(fct3_con)
print(con)
fct3_df = pd.read_sql(qcmd.select_top(100, "UUTResults"), con)
fct3_df["TestID"] = [uuid.uuid4() for _ in range(len(fct3_df.index))]
fct3_df.head()

Engine(mssql+pyodbc://sa:***@025A123FCT3/A123_025A123FCT3?driver=ODBC+Driver+17+for+SQL+Server)
Engine(mssql+pyodbc://sa:***@025A123FCT3/A123_025A123FCT3?driver=ODBC+Driver+17+for+SQL+Server)

,UUTResultsId,Station,Operator,FamilyName,FixtureId,FixtureSerialNumber,ProjectRevision,ProjectReleased,VariantCode,VariantReleased,...,DateTime,Date,Time,StatusId,FailureCode,FailureDescription,ErrorCode,ErrorDescription,ExecutionTime,TestID
0,1,025A123FCT3,KETL_Technician,BMS 48V,3000.110.1023.1,0001,16,False,4610484J0201,False,...,2020-11-03 18:09:03,2020-11-03,18:09:03,2,450,450: 8.22 Pack HW Over Current Protection Test...,0,,194.141990,43b76765-f404-43ea-8edf-05f768272f53
1,2,025A123FCT3,KETL_Technician,BMS 48V,3000.110.1023.1,0001,16,False,4610483J0301,False,...,2020-11-03 18:10:09,2020-11-03,18:10:09,1,0,,0,,254.694772,5b190c5d-1e18-4e0a-b63a-867838301e45
2,3,025A123FCT3,KETL_Technician,BMS 48V,3000.110.1023.1,0001,16,False,4610484J0201,False,...,2020-11-03 18:13:37,2020-11-03,18:13:37,1,0,,0,,253.994839,9c855451-4643-47ff-9c76-845a406279eb
3,4,025A123FCT3,KETL_Technician,BMS 48V,3000.110.1023.1,0001,16,False,4610484J0201,False,...,2020-11-03 18:20:03,2020-11-03,18:20:03,2,360,360: 8.15 Cell Voltage Balance Test\n4770: Che...,0,,77.428215,d47e3dd8-3092-4972-a53b-0f1d3492f470
4,5,025A123FCT3,KETL_Technician,BMS 48V,3000.110.1023.1,0001,16,False,4610484J0201,False,...,2020-11-03 18:21:58,2020-11-03,18:21:58,1,0,,0,,254.262176,bd2000f7-dccd-42f4-bafd-3ed80af5faf9

In [4]:
fct3_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   UUTResultsId         100 non-null    int64
 1   Station              100 non-null    object
 2   Operator             100 non-null    object
 3   FamilyName           100 non-null    object
 4   FixtureId            100 non-null    object
 5   FixtureSerialNumber  100 non-null    object
 6   ProjectRevision      100 non-null    object
 7   ProjectReleased      100 non-null    bool
 8   VariantCode          100 non-null    object
 9   VariantReleased      100 non-null    bool
 10  EC                   100 non-null    object
 11  Socket               100 non-null    int64
 12  SerialNumber         100 non-null    object
 13  DateTime             100 non-null    datetime64[ns]
 14  Date                 100 non-null    datetime64[ns]
 15  Time                 100 non-null    object
 16  StatusId             100 non-null    int64
 17  FailureCode          100 non-null    int64
 18  FailureDescription   100 non-null    object
 19  ErrorCode            100 non-null    int64
 20  ErrorDescription     100 non-null    object
 21  ExecutionTime        100 non-null    float64
 22  TestID               100 non-null    object
dtypes: bool(2), datetime64[ns](2), float64(1), int64(5), object(13)
memory usage: 16.7+ KB

In [5]:
cols = list(fct3_df.columns.values)
print(cols)

['UUTResultsId', 'Station', 'Operator', 'FamilyName', 'FixtureId', 'FixtureSerialNumber', 'ProjectRevision', 'ProjectReleased', 'VariantCode', 'VariantReleased', 'EC', 'Socket', 'SerialNumber', 'DateTime', 'Date', 'Time', 'StatusId', 'FailureCode', 'FailureDescription', 'ErrorCode', 'ErrorDescription', 'ExecutionTime', 'TestID']

In [6]:
uut_results_df = fct3_df[['TestID', 'Station', 'Operator', 'FamilyName', 'FixtureId', 'FixtureSerialNumber', 'ProjectRevision', 'ProjectReleased', 'VariantCode', 'VariantReleased', 'EC', 'Socket', 'DateTime', 'StatusId', 'FailureCode', 'FailureDescription', 'ErrorCode', 'ErrorDescription', 'ExecutionTime']]
uut_results_df

,TestID,Station,Operator,FamilyName,FixtureId,FixtureSerialNumber,ProjectRevision,ProjectReleased,VariantCode,VariantReleased,EC,Socket,DateTime,StatusId,FailureCode,FailureDescription,ErrorCode,ErrorDescription,ExecutionTime
0,43b76765-f404-43ea-8edf-05f768272f53,025A123FCT3,KETL_Technician,BMS 48V,3000.110.1023.1,0001,16,False,4610484J0201,False,,1,2020-11-03 18:09:03,2,450,450: 8.22 Pack HW Over Current Protection Test...,0,,194.141990
1,5b190c5d-1e18-4e0a-b63a-867838301e45,025A123FCT3,KETL_Technician,BMS 48V,3000.110.1023.1,0001,16,False,4610483J0301,False,,2,2020-11-03 18:10:09,1,0,,0,,254.694772
2,9c855451-4643-47ff-9c76-845a406279eb,025A123FCT3,KETL_Technician,BMS 48V,3000.110.1023.1,0001,16,False,4610484J0201,False,,1,2020-11-03 18:13:37,1,0,,0,,253.994839
3,d47e3dd8-3092-4972-a53b-0f1d3492f470,025A123FCT3,KETL_Technician,BMS 48V,3000.110.1023.1,0001,16,False,4610484J0201,False,,1,2020-11-03 18:20:03,2,360,360: 8.15 Cell Voltage Balance Test\n4770: Che...,0,,77.428215
4,bd2000f7-dccd-42f4-bafd-3ed80af5faf9,025A123FCT3,KETL_Technician,BMS 48V,3000.110.1023.1,0001,16,False,4610484J0201,False,,1,2020-11-03 18:21:58,1,0,,0,,254.262176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5b7a512d-c378-459b-bd6b-b67eae20d7ca,025A123FCT3,KETL_Operator_B,BMS 48V,3000.110.1023.1,0001,16,False,4610484J0201,False,,1,2020-11-09 22:14:00,1,0,,0,,255.493769
96,b6cbc5ff-94db-4f40-b250-e5210f9b22dd,025A123FCT3,KETL_Operator_B,BMS 48V,3000.110.1023.1,0001,16,False,4610484J0201,False,,2,2020-11-09 22:17:30,1,0,,0,,255.110660
97,cd8d4977-77fb-4373-bf74-c1e0fe122710,025A123FCT3,KETL_Operator_B,BMS 48V,3000.110.1023.1,0001,16,False,4610484J0201,False,,1,2020-11-09 22:18:33,1,0,,0,,258.277235
98,ce3284ce-1962-47cd-a59d-7f87f14bc925,025A123FCT3,KETL_Operator_B,BMS 48V,3000.110.1023.1,0001,16,False,4610484J0201,False,,2,2020-11-09 22:21:53,2,410,410: 8.18 Pack Current Accuracy Test Gain\n646...,0,,160.880783
99,9bea1d34-36da-4a07-b4a9-e504e8fb5a4f,025A123FCT3,KETL_Operator_B,BMS 48V,3000.110.1023.1,0001,16,False,4610484J0201,False,,1,2020-11-09 22:22:58,1,0,,0,,255.799103

In [7]:
dbsync_con = create_engine(f'mssql+pyodbc://{config.sync_user}:{config.sync_password}@{config.sync_host}/{config.sync_dbname3}?driver={config.driver}')

In [8]:
uut_results_df.to_sql('UUTresults', dbsync_con, if_exists='append', index=False)

In [9]:
test_detail_df = fct3_df[['TestID', 'UUTResultsId', 'SerialNumber', 'DateTime']]
test_detail_df

,TestID,UUTResultsId,SerialNumber,DateTime
0,43b76765-f404-43ea-8edf-05f768272f53,1,K012034018V4610484J0201,2020-11-03 18:09:03
1,5b190c5d-1e18-4e0a-b63a-867838301e45,2,K01184400HD4610483J0301,2020-11-03 18:10:09
2,9c855451-4643-47ff-9c76-845a406279eb,3,K012034018V4610484J0201,2020-11-03 18:13:37
3,d47e3dd8-3092-4972-a53b-0f1d3492f470,4,K012034018V4610484J0201,2020-11-03 18:20:03
4,bd2000f7-dccd-42f4-bafd-3ed80af5faf9,5,K012034018V4610484J0201,2020-11-03 18:21:58
...,...,...,...,...
95,5b7a512d-c378-459b-bd6b-b67eae20d7ca,96,K012045014U4610484J0201,2020-11-09 22:14:00
96,b6cbc5ff-94db-4f40-b250-e5210f9b22dd,97,K012045014N4610484J0201,2020-11-09 22:17:30
97,cd8d4977-77fb-4373-bf74-c1e0fe122710,98,K01204500CJ4610484J0201,2020-11-09 22:18:33
98,ce3284ce-1962-47cd-a59d-7f87f14bc925,99,K01204501074610484J0201,2020-11-09 22:21:53
99,9bea1d34-36da-4a07-b4a9-e504e8fb5a4f,100,K012045014Q4610484J0201,2020-11-09 22:22:58

In [10]:
test_detail_df.to_sql('TestDetail', dbsync_con, if_exists='append', index=False)

In [11]:

lasttime = pd.read_sql(qcmd.get_last_synctime(), dbsync_con)
lastsync = lasttime.iloc[0,0].strftime("%Y-%m-%d %H-%M-%S")
lastsync2 = lastsync
lastsync2

'2020-11-09 22-22-58'

In [12]:
fctx_df = pd.read_sql(qcmd.select_from_synctime("UUTResults", lastsync2), con)
fctx_df.head()

DataError: (pyodbc.DataError) ('22007', '[22007] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The conversion of a varchar data type to a datetime data type resulted in an out-of-range value. (242) (SQLExecDirectW)')
[SQL: select * from UUTResults where Datetime > '2020-11-09 22-22-58']
(Background on this error at: http://sqlalche.me/e/13/9h9h)